{% extends 'base.html.twig' %}

{% block body %}

  <div class="row" id="boc">

   
    <section id="home" class="home">
      <div class="overlay">
        <div class="container">
           <h1>Demande</h1>
          <div class="col-md-12">
            <div class="text-center center-block">

             <table class="table table-responsive table-hover ">
              <tbody>
                <tr>
                 <th>Id</th>
                 <td>{{ demande.id }}</td>
               </tr>
               <tr>
                <th>Titrelivre</th>
                <td>{{ demande.titreLivre }}</td>
              </tr>
              <tr>
                <th>Description</th>
                <td>{{ demande.description }}</td>
              </tr>
              <tr>
                <th>Datedemande</th>
                <td>{% if demande.dateDemande %}{{ demande.dateDemande|date('Y-m-d H:i:s') }}{% endif %}</td>
              </tr>
              <tr>
               <th>Demander par :</th>
               <td>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                 {{  app.user.username }}

               {% endif %}
             </td>

           </tr>
         </tbody>
       </table>



       <div class="row">
        <div class="col-md-12">
          <p align="right">
           {{ form_start(delete_form) }}
           <a href="{{ path('demande_demande_index') }}" class="btn btn-default">Back to the list</a>
           <a href="{{ path('demande_demande_edit', { 'id': demande.id }) }}" class="btn btn-success">Edit</a>

           <input type="submit" value="Delete" class="btn btn-danger">
           {{ form_end(delete_form) }}
         </p>
       </div>
     </div>
   </div>
 </div>

</div>
</section>
</div>
{% endblock %}
