{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sous_categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomsouscat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sous_categorie in sous_categories %}
            <tr>
                <td><a href="{{ path('sous_categorie_sous_categorie_show', { 'id': sous_categorie.id }) }}">{{ sous_categorie.id }}</a></td>
                <td>{{ sous_categorie.nomSouscat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sous_categorie_sous_categorie_show', { 'id': sous_categorie.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('sous_categorie_sous_categorie_edit', { 'id': sous_categorie.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sous_categorie_sous_categorie_new') }}">Create a new sous_categorie</a>
        </li>
    </ul>
{% endblock %}
