{% extends 'base.html.twig' %}

{% block body %}

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Sous-categorie</div>

    <table width="30%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_categorie.id }}</td>
            </tr>
            <tr>
                <th>Nomsouscat</th>
                <td>{{ sous_categorie.nomSouscat }}</td>
            </tr>
            <tr>
                <th>NomCategorie</th>
                <td>{{ sous_categorie.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sous_categorie_sous_categorie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sous_categorie_sous_categorie_edit', { 'id': sous_categorie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
 </div> 
{% endblock %}
